<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>adoption form</title>
</head>
<body>
<div layout:fragment="main-content">
  <form action="#" th:action="@{/adoption-form/new}" th:object="${adoptionform}"
        method="post">

    <div class="form-group">
      <label for="Name">Name</label>
      <input type="checkbox" id="Name" class="form-control" th:field="*{approved}">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="date" id="address" class="form-control" th:field="*{date}">
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>