<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Doctor</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${pet}">

    <div class="card" style="width:400px">
      <img class="card-img-top" th:src="@{/images/img_avatar1.png}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title" th:text="${pet.name}"></h4>
        <p class="card-text" th:text="'Pet ID is ' + ${pet.id}"></p>

        <p th:if="${pet.breed}" th:text="'Pet breed is ' + ${pet.breed}"></p>
        <p th:if="${pet.healthform.getApproved()}" th:text="'Pet health is approved'"></p>
        <p th:if="${!pet.healthform.getApproved()}" th:text="'Pet health is not approved'"></p>
        <p><a th:if="${!pet.healthform.getApproved()}" sec:authorize="hasRole('ROLE_DOCTOR')" th:href="@{'/pet/' + ${pet.id} + '/health'}" class="btn btn-success" role="button">Approve pet's health</a></p>
        <p><a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/pet/' + ${pet.id} + '/adopt'}" class="btn btn-success" role="button">Adopt this pet!</a></p>


      </div>
    </div>

  </div>
  <div th:if="${pet == null}">
    No Pet found!
  </div>
</div>
</body>
</html>